:root {
    --green: green;
    --red: red;
    --category-active: rgba(0, 128, 0, 0.134);
    --body: #f5f5f5;
    --white: #fff;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

body {
    background-color: var(--body);
}

.logo {
    font-family: 'Abril Fatface', cursive;
    font-size: 35px;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link,
.text-green {
    color: var(--green);
}

.text-red {
    color: var(--red);
}

.profile-img {
    width: 50px;
    vertical-align: middle;
    border-radius: 50%;
}

a {
    text-decoration: none;
}

.category {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    display: inline-flex;
    background: transparent;
    padding: 3px 6px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
}

.category.active,
.category:hover {
    background-color: var(--category-active);
    color: var(--green);
}

#spinner img {
    transform: scale(3);
}

#spinner {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100000;
    display: none;
    transform: translate(-50%, -50%);
}

.author {
    width: 40px;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

.btn-green {
    background-color: var(--green);
    color: var(--white);
}

.bg-green {
    background-color: var(--green);
}

.modalImg {
    width: 100%;
    min-height: 200px;
    background-image: url("../img/loader.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: black;
}